<% content_for :title, "Editing swatch" %>

<h1>Editing swatch</h1>

<%= render "form", swatch: @swatch %>

<br>

<div>
  <%= link_to "Show this swatch", @swatch %> |
  <%= link_to "Back to swatches", swatches_path %>
</div>
