<p style="color: green"><%= notice %></p>

<% content_for :title, "Swatches" %>

<h1>Swatches</h1>

<div class = "swatches">
  <% @swatches.each do |swatch| %>
    <%= link_to swatch, class: "swatch" do %>
      <%= render swatch %>
    <% end %>
  <% end %>
</div>

<%= link_to "New swatch", new_swatch_path %>
