<div id="<%= dom_id fill %>">
  <div class = "card">
    <div class = "fillColor" style="background-color: #<%= fill.color %>"></div>
    
    <div>
      <div class = "fillName"><h3><%= fill.name %></h3></div>
      <div class = "fillColorHex">#<%= fill.color %></div>
    </div>
  </div>

</div>
